.Container-Products {
    margin: 5vw 10vw;
    width: 80vw;
    height: 100vh;
}

.Products__text {
    width: 100%;
    height: 20%;
}

.Products__upper__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D62828;
    font-size: calc(20% + 2vmin);
    font-weight: 350;
    width: 100%;
    height: 20%;
}

.Products__mid__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    font-weight: 500;
    width: 100%;
    height: 60%;
}

.Products__lower__text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: calc(10% + 2vmin);
    letter-spacing: -3px;
    font-weight: 300;
    width: 100%;
    height: 20%;
}   

.Products__itens {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 80%;
}

.Products__itens__content {
    background-color: #313131;
    border: 0.5px solid #F8F8F8;
    border-radius: 15px;
    width: 20%;
    height: 90%;
    transition: 0.5s;
}

.Products__itens__content:hover {
    border: 1px solid #7A0C12;
    background-color: #404040;
}

.Products__itens__content__img {
    position: relative;
    width: 100%;
    height: 75%;
    overflow: hidden;
}

.Products__itens__content__img button {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    background-color: #D62828;
    border-radius: 10px;
    transition: 0.5s;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, +800%);
    width: 45%;
    height: 5%;
}

.Products__itens__content__img button:hover {
    opacity: 1;
}

.Products__itens__content__img img {
    border-radius: 15px 15px 0px 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1s;
}

.Products__itens__content__img img:hover {
    border-radius: 15px 15px 0px 0px;
    transform: scale(1.1);
    object-fit: cover; 
}

.Products__itens__content__text {
    width: 100%;
    height: 25%;
}

.Products__itens__content__text__title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 5%;
    font-weight: 500;
    font-size: calc(15% + 2vmin);
    width: 100%;
    height: 20%;
}

.Products__itens__content__text__description {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 2.5%;
    font-weight: 350;
    font-size: calc(5% + 2vmin);
    letter-spacing: -3px;
    opacity: 0.7;
    width: 100%;
    height: 40%;
}

.Products__itens__content__text__value {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-top: 2.5%;
    margin-left: 5%;
    font-size: calc(5% + 2vmin);
    letter-spacing: -3px;
    font-weight: 500;
    color: #D62828;
    width: 90%;
    height: 30%;
}

@media (max-width: 768px) {
    .Container-Products {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 200vh;
        margin: 10vw 5vw;
        width: 90vw;
    }

    .Products__text {
        height: 20vh;
    }

    .Products__upper__text {
        font-size: larger;
    }

    .Products__mid__text {
        height: 10vh;
        font-size: 40px;
    }

    .Products__lower__text {
        text-align: center;
        font-size: medium;
        font-weight: 350;
        letter-spacing: 1px;
    }

    .Products__itens {
        flex-direction: column;
        width: 50vw;
        height: auto;
        gap: 20px;
    }

    .Products__itens__content {
        width: 100%;
        height: 400px;
    }

    .Products__itens__content__img img {
        object-fit: contain;
    }

    .Products__itens__content__img button {
        font-size: small;
        opacity: 1;
        transform: translate(-50%, 600%);
        width: 40%;
        height: 20px;
    }

    .Products__itens__content__text__title {
        font-size: 16px;
    }

    .Products__itens__content__text__description {
        font-size: 16px;
    }

    .Products__itens__content__text__value {
        display: none;
    }
}