.video-container {
    position: relative;
    width: 100vw;
    height: 75vh;
    overflow: hidden;
}

.video-bg {
    filter: brightness(60%);
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.Hero__text {
    position: absolute;
    width: 40%;
    height: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Hero__upper__text {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100%;
    height: 10%;
    font-size: calc(15% + 2vmin);
    color: #D62828;
    font-weight: 450;
}

.Hero__mid__text {
    width: 100%;
    height: 50%;
    font-size: 100px;
    font-weight: 500;
    text-align: center;
}

.Hero__mid__text__content-01 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    font-size: 100px;
}

.Hero__mid__text__content-02 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
    font-size: 100px;
    color: #D62828;
}

.Hero__lower__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 350;
    width: 100%;
    height: 20%;
    font-size: calc(15% + 2vmin);
    letter-spacing: calc(15% + 2vmin);
    opacity: 0.7;
}

.Hero__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}

.Hero__buttons div {
    margin: 2.5%;
}

.Hero__buttons button {
    width: 40%;
    height: 50%;
    border-radius: 10px;
    transition: 0.5s;
}

.Hero__buttons button:hover {
    cursor: pointer;
    opacity: 0.7;
}

.Hero__buttons__content-01 {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 40%;
    height: 100%;
}

.Hero__buttons__content-01 button {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    background-color: #D62828;
}


.Hero__buttons__content-02 {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 40%;
    height: 100%;
}

.Hero__buttons__content-02 button {
   box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    background-color: black;
}