.About {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 50vh;
}

.About__text {
    width: 50%;
    height: 100%;
}

.About__upper__text {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #D62828;
    font-weight: 350;
    font-size: calc(50% + 2vmin);
    width: 100%;
    height: 5%;
}

.About__mid__text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    font-size: calc(100% + 2vmin);
    width: 100%;
    height: 10%;
}

.About__lower__text {
    width: 100%;
    height: 85%;
}

.About__lower__text div {
    width: 100%;
    height: 25%;
    text-align: center;
    font-size: calc(10% + 2vmin);
    opacity: 0.7;
}

@media (max-width: 768px) {
    .About {
        height: 25vh;
        margin-top: -5%;
    }

    .About__text {
        width: 90%;
        height: 100%;
    }

    .About__upper__text {
        height: 5vh;
        font-size: larger;
    }

    .About__mid__text {
        font-size: 24px;
    }

    .About__lower__text div {
        height: auto;
        font-size: 12px;
    }
}