.Footer {
    width: 100vw;
    height: 100vh;
}

.Footer__content {
    background-color: #f8f8f8;
    width: 100%;
    height: 100%;
}

.Container { 
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50%;
}

.Container__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8;
    width: 80%;
    height: 90%;
}

.Container__content__title {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0b0b0b;
    color: white;
    border: none;
    width: 100%;
    height: 15%;
    font-size: calc(20% + 2vmin);
    border-radius: 10px 10px 0px 0px;
}

.Container__content__map {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.Container__content__frete{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
}

.Container__content__frete input{
    text-align: center;
    width: 20%;
    height: 20px;
    border: 1px solid #0b0b0b;
    border-radius: 5px;
}

.Container__content__frete button {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    background-color: #D62828;
    width: 10%;
    height: 25px;
    border: 1px solid #0b0b0b;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
}

.Container__content__frete button:hover {
    opacity: 0.8;
}

.Container__content__maps {
    color: black;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 60%;
    height: 90%;
}

.Container__content__message {
    color: black;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 1px solid #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    width: 25%;
    height: 90%;
}

.Container__content__text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 20px;
    gap: 8px;
}

.Container__content__text p {
    margin: 0;
}

.Container__content__text input {
    width: 80%;
    height: 30px;
    border: 1px solid #0b0b0b;
    border-radius: 5px;
    padding: 5px;
}

.Container__content__text button {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    color: white;
    background-color: #D62828;
    width: 30%;
    height: 25px;
    border: 1px solid #0b0b0b;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    margin-left: 30%;
}

.Container__content__text button:hover {
    opacity: 0.8;
}


.Footer__cards {
    width: 100%;
    height: 50%;
    background-color: #0b0b0b;
}

.Footer__cards__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
    border-block-end: 1px solid #a1a1a1;
}

.Footer__cards__icons__text {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 65%;
    height: 100%;
}

.Footer__cards__icons__social {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 10%;
    height: 100%;
}

.Footer__cards__icons__social a img {
    background-color: #f8f8f8;
    border: 1px solid #0b0b0b;
    border-radius: 50%;
    width: 40px;
    transition: 0.7s;
}

.Footer__cards__icons__social a img:hover {
    opacity: 0.7;
    scale: calc(1.1);
}

.Footer__cards__links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    width: 90%;
    height: 65%;
}

.Footer__cards__links__header {
    width: 100%;
    height: 30%;
    text-align: center;
}

.Footer__cards__links__content {
    width: 100%;
    height: 70%;
    text-align: center;
    font-size: calc(5% + 2vmin);
}

.Footer__cards__links__content a{
    color: inherit;
    text-decoration: none;
    transition: 0.7s;
    padding: 5px 5px;
}

.Footer__cards__links__content a:hover{
    font-size: calc(10% + 2vmin);
    opacity: 0.7;
}

.Footer__cards__links__berit img{
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.Footer__cards__links__berit,
.Footer__cards__links__products,
.Footer__cards__links__anothers,
.Footer__cards__links__contact {
    width: 15%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.Footer__cards__links__contact__content {
    width: 100%;
    height: 40%;
    font-size: calc(5% + 2vmin);
    display: flex;
    flex-direction: column;     
    justify-content: center;
    align-items: flex-start;
    gap: 15px;
    padding: 10px;
}

.Footer__cards__links__contact__content a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: inherit;
    text-decoration: none;
}

.Footer__cards__links__contact__content img {
    width: 30px;
    background-color: #f8f8f8;
    border: 1px solid #0b0b0b;
    border-radius: 50%;
}

.Footer__cards__links__contact__content p {
    margin: 0;
}


.Footer__cards__copy {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 15%;
    opacity: 0.7;
    font-size:15px;
    border-top: 1px solid #a1a1a1;
}

@media (max-width: 768px) {
    .Footer {
        height: auto;
    }

    .Container {
        height: auto;
        padding: 20px 0;
    }

    .Container__content {
        flex-direction: column;
        gap: 30px;
    }

    .Container__content__maps, 
    .Container__content__message {
        width: 100%;
    }

    .Container__content__frete input{
        width: 40%;
    }

    .Container__content__frete button{
        width: 30%;
    }

    .Footer__cards {
        height: auto;
    }

    .Footer__cards__icons {
        flex-direction: column;
        height: auto;
        padding: 20px 0;
        gap: 15px;
    }

    .Footer__cards__icons__text {
        width: 90%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .Footer__cards__icons__social {
        width: 50%;
    }

    .Footer__cards__links {
        flex-direction: column;
        height: auto;
        gap: 30px;
        padding: 40px 0;
    }

    .Footer__cards__links__content {
        font-size: large;
    }

    .Footer__cards__links__berit,
    .Footer__cards__links__products,
    .Footer__cards__links__anothers,
    .Footer__cards__links__contact {
        width: 80%;
    }
    
    .Footer__cards__links__contact__content {
        align-items: center;
        font-size: larger;
    }

    .Footer__cards__copy {
        text-align: center;
    }
}
