.App-header {
  background-color: #0B0B0B;
  overflow: hidden;
  height: 100%;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: #F8F8F8;
  font-family:'Courier New', Courier, monospace;
}

